body {
  text-align: center;
}

form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* width: 100%; */
  padding: 0 2%;
  max-width: 512px;
  /* position: relative; */
}
textarea {
  height: 250px;
  resize: none;
}
button {
  display: block;
  float: right;
  padding: 16px 0;
}

button:hover {
  cursor: pointer;
}

.search-error {
  color: red;
  background: pink;
  max-width: 512px;
  margin: 0 auto;
}
